.headerboardinfo *{
    text-transform: uppercase;
}

.bg-active{
    background-color: #48840b!important;
}

.bg-blocked{
    background-color: #FF0000!important;;
}
.bg-leed{
    background-color: #EA9999!important;
}
.scroolldiv {
    background-color: lightblue;
    width: auto;
    max-height: 400px;
    overflow: auto;
}
